.location-details-container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 26px;
}

.accomodation-main{
    min-height: calc(100vh - 473px);
}

.title-tags-container h1 {
    font-size: 36px;
}

.title-tags-container p {
    font-size: 18px;
}

.title-container {
    padding-bottom: 24px;
}

.host-container {
    display: flex;
    text-align: right;
    padding-bottom: 21px;
    justify-content: flex-end;
}

.host-container h2 {
    font-size: 18px;
    padding-right: 10px;
    max-width: 50%;

}

.host-container img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.tags-rating-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.description-equipments-container {
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

@media screen and (max-width: 750px) {
    .location-details-container {
        flex-direction: column;
        padding-bottom: 16px;
    }

    .host-rating-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 16px;
    }

    .title-location-host-container {
        flex-direction: column;
    }

    .title-location-host-container h1 {
        font-size: 18px;
    }

    .title-location-host-container p {
        font-size: 14px;
    }

    .description-equipments-container {
        flex-direction: column;
        gap: 16px;
    }

}