.collapse {
    width: 80%;
    border-radius: 5px;
    overflow: hidden;

}

.collapse-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #FF6060;
    cursor: pointer;
    border-radius: 5px;
    height: 47px;
}

.collapse-button h2 {
    padding-left: 20px;
    font-size: 18px;
}

.collapse-button img {
    padding-right: 9px;
}

.collapse-body {
    background-color: #F6F6F6;
    padding-top: 27px;
    padding-right: 27px;
    padding-left: 18px;
    padding-bottom: 19px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}

.equipments-body {
    line-height: 143%;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .collapse {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .collapse-button h2 {
        font-size: 13px;
    }
    .collapse-body{
        font-size: 12px;
    }
  }