header {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

@media screen and (max-width: 580px) {
    .main-logo{
        height:47px;
    }
}

@media screen and (max-width: 900px) {
    header {
        padding-bottom: 27px;
    }
}