nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

nav a {
    color: #FF6060;
    font-weight: 400;
    font-size: 24px;
}

 .active {
 text-decoration: underline;
}



@media screen and (max-width: 580px) {
    .main-logo{
        height:47px;
    }
    .navbar-text {
        font-size: 12px;
    }
}