body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FF6060;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit; 
  text-decoration: inherit; 
}

h1 {
  margin: 0;
  font-weight: 500;
}

h2 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
  font-weight: 500;
}